<div>
    <header class="nav-header">
        <a ng-href="/" class="docs-logo">
            <h1 class="docs-logotype md-heading">doctore.me</h1>
        </a>
    </header>
    <md-content md-colors="{background:'primary-500'}" flex role="navigation">
        <md-list flex>
            <md-list-item ng-href="index.html">
                <div class="md-list-item-text" layout="column" flex>Home</div>
            </md-list-item>
            <md-list-item ng-href="endocrinology-initialVisit.html">
                <div class="md-list-item-text" layout="column" flex>Endocrinology - Initial Visit</div>
            </md-list-item>
            <md-list-item class="md-1-line" ng-href="endocrinology-followUp.html">
                <div class="md-list-item-text" layout="column">Endocrinology - Follow-up</div>
            </md-list-item>
            <md-list-item ng-href="index.html">
                <div class="md-list-item-text" layout="column" flex>Contact</div>
            </md-list-item>
        </md-list>
    </md-content>
</div>
